<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbone Example App</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <script id="personTemplate" type="text/template">
      <strong><%= name %></strong> (<%= year %>)
  </script>
  
  <!-- link jQuery -->
  <script src="js/lib/jquery-min.js"></script>
  <!-- link Underscore -->
  <script src="js/lib/underscore-min.js"></script>
  <!-- link Backbone -->
  <script src="js/lib/backbone-min.js"></script>
  <!-- link Models -->
  <script src="js/models/movie.js"></script>
  <!-- link Views -->
  <script src="js/views/movie-view.js"></script>
  <!-- link app.js -->
  <script src="js/app.js"></script>

</body>
</html>